<app-navbar></app-navbar>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
  <input type="text" class="form-control" />
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default"
    >Carga horária de horas aula</span
  >
  <input type="text" class="form-control" />
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Escola</span>
  <input type="text" class="form-control" />
</div>

<select class="form-select form-select-sm">
  <option disabled selected>Selecione o professor</option>
  <option value="1">Otávio</option>
  <option value="2">Vivian</option>
  <option value="3">Leandro</option>
  <option value="4">Cláudia</option>
</select>

<h4>A matéria é opcional?</h4>
<div class="input-group">
  <div class="input-group-text">
    <input
      class="form-check-input mt-0"
      type="radio"
      value=""
      aria-label="Radio button for following text input"
    />Sim
  </div>
  <div class="input-group-text">
    <input
      class="form-check-input mt-0"
      type="radio"
      value=""
      aria-label="Radio button for following text input"
    />Não
  </div>
</div>

<app-modal></app-modal>

<app-card></app-card>